<div class="card" style="margin-bottom: 2%;">
    <div class="card-body">
      <h5 class="card-title">Create Your Own Daily Workout</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
    <img src="/images/lift.jpeg" class="card-img-bottom" >
  </div>
  <nav class="navbar navbar-light bg-light"  >
    <div class="container-fluid" >
      <h1 class="navbar-text" >
        Or Choose BE FIT Week Plans
      </h1>
    </div>
  </nav>
<div class="card-group" style="margin-top: 2%; margin-bottom: 2%;">
    <div class="card">
      <img src="/images/starter.jpeg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Starter</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="/images/strong.jpeg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Strong</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="/images/super.jpeg" class="card-img-top" >
      <div class="card-body">
        <h5 class="card-title">Super</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>

 