<div class="card" style="margin-bottom: 2%;">
    <div class="card-body">
      <h2 class="card-title"><a href="/befit/create"style="text-decoration: none; color:black;">Create Your Own Daily Workout</a></h2>
      <p class="card-text">BE FIT allows you to build your own daily workouts based on your personal fitness goals and circumstances with easy step to follow. </p>
      <h5 class="card-text"><small class="text-muted"><a href="/befit/create"style="text-decoration: none; color:grey;">Click here to start</a> </small></h5>
    </div>
    <a href="/befit/create">
    <img src="/images/lift.jpeg" class="card-img-bottom" ></a>
  </div>
  <nav class="navbar navbar-light bg-light"  >
    <div class="container-fluid" >
      <h1 class="navbar-text display-5" style="font-weight: bold;" >
        Or Choose <span style="color:#019ecb ;">BE FIT</span>  Week Plans
      </h1>
    </div>
  </nav>
<div class="card-group" style="margin-top: 2%; margin-bottom: 2%;">
    <div class="card">
      <a href="/starter">
      <img src="/images/starter.jpeg" class="card-img-top"></a>
      <div class="card-body">
        <h2 class="card-title"><a href="/starter"style="text-decoration: none; color:black;"> Starter</a></h2>
        <p class="card-text">BE FIT we are offer the weekly strength plan for starter. </p>
        <h5 class="card-text"><small class="text-muted"><a href="/starter"style="text-decoration: none; color:grey;">Click here to start</a></small></h5>
      </div>
    </div>
    <div class="card">
      <a href="/strong">
      <img src="/images/strong.jpeg" class="card-img-top"></a>
      <div class="card-body">
        <h2 class="card-title"><a href="/strong"style="text-decoration: none; color:black;">Strong</a> </h2>
        <p class="card-text">Achieve your workout goals and gain new levels of strength.</p>
        <h5 class="card-text"><small class="text-muted"><a href="/strong"style="text-decoration: none; color:grey;">Click here to start</a></small></h5>
      </div>
    </div>
    <div class="card">
      <a href="/super">
      <img src="/images/super.jpeg" class="card-img-top" ></a>
      <div class="card-body">
        <h2 class="card-title"><a href="/super"style="text-decoration: none; color:black;"> Super</a></h2>
        <p class="card-text">Challange your workout routines with this advance plan to build muscular strength.</p>
        <h5 class="card-text"><small class="text-muted"><a href="/super"style="text-decoration: none; color:grey;">Click here to start</a></small></h5>
      </div>
    </div>
  </div>

 