<div class="card mb-3">
    <img src="/images//befit1.jpeg" class="card-img-top" alt=>
    <div class="card-body">
      <h1 class="card-title">About Us</h1>
      <p class="card-text">BE FIT is a workout planner, smarter way to track your training at the gym. Use the daily workout planner to create your own fitness plans and routines specific to your goals, or try on our weekly workout plans and check out the new health and wellness products.</p>
    </div>
  </div>
  <div class="card text-center">
    <div class="card-header">
     
    </div>
    <div class="card-body">
      <div class="col-md-8" style="margin: 2% 15%;;">
        <div class="card-body" style="text-align: left;">
          <h2 class="card-title">Contact Us</h2>
          <form class="row g-3">
            <div class="col-md-6">
                <label for="name" class="form-label"></label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Name">
              </div>
            <div class="col-md-6">
              <label for="email" class="form-label"></label>
              <input type="email" class="form-control" id="email" name="email" placeholder="Email">
            </div>
            <div class="col-12">
              <label for="message" class="form-label"></label>
              <input type="text" class="form-control" id="message" name="message" placeholder="Message">
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-info">Send</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="card-footer text-muted">
      
    </div>
  </div>
