<div class="card mb-3">
    <img src="/images/own.jpeg" class="card-img-top" alt=>
    <div class="card-body">
      <h1 class="card-title">Create Your Daily Workout</h1>
      <p class="card-text">
        BE FIT allows you to build your own daily workouts based on your personal fitness goals and circumstances with easy step to follow.
    <br> Let's begin with warm up then complete your daily workouts, marked as complete and don't forget to rest 60 sec. in between, end with starching and cool down. </p>
      <h3 class="card-text"> 
        <small class="text-muted">Let's Start</small>
      </h3>
      <div style="text-align: center; margin: 5%">
        <button type="button" class="btn btn-outline-info btn-lg"><a href="/profile" style="text-decoration: none; color:grey; font-weight: bolder;"> BECOME MEMBER </a></button>
      </div>
    </div>
  </div>