<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/images/home.jpeg" class="d-block w-100" >
      </div>
      <div class="carousel-item">
        <img src="/images/befit2.jpeg" class="d-block w-100" >
      </div>
      <div class="carousel-item">
        <img src="/images/girls.jpeg" class="d-block w-100" >
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <nav class="navbar navbar-light bg-light"  >
    <div class="container-fluid" >
      <h1 class="navbar-text display-3" >
        Create Your <span style="color: #019ecb; font-weight: bolder;">BE FIT</span>  Planner
      </h1>
    </div>
  </nav>
  <div class="card mb-12">
    <div class="row g-0">
      <div class="col-md-6">
        <img src="/images/home1.jpeg" class="img-fluid">
      </div>
      <div class="col-md-6">
        <div class="card-body" style="margin-top: 22%;">
          <h2 class="card-title display-4" style="color: rgb(60, 62, 65); text-align: center;">"Choose plans to complete your goals"</h2>
          <div style="text-align: center; margin-top: 5%;">
          <button type="button" class="btn btn-outline-info btn-lg"><a href="/befit" style="text-decoration: none; color:grey; font-weight: bold;"> START HERE</a></button>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-12">
        <div class="row g-0">
          <div class="col-md-6">
            <div class="card-body" style="margin-top: 22%;">
                <h1 class="card-title display-1" style="text-align: center;" ><a href="/betrend" style="text-decoration: none; color: black;"><span style="color:#019ecb ; font-weight: bold;">BE FIT</span>+<span style="color: rgb(161, 172, 62);font-weight: bold;" >BECOME</span> </a></h1>
              <div style="text-align: center; margin-top: 5%;">
              </div>
            </div>
          </div>
          <div class="col-md-6">
              <a href="/betrend">
            <img src="/images/become1.jpeg" class="img-fluid"></a>
          </div>
        </div>
  </div>